@*
*@
@{

}
<label>@ViewData["fileN"]</label></br>
<label>@ViewData["captured"]</label>
<label>@ViewData["tag"]</label>
<label>@ViewData["Geolocation"]</label>
<label>@ViewData["date"]</label>
<label>@ViewData["fileLocation"]</label>